<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Hzl_TempXM.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BCD47C101D02CB380058995B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BCD47C291D02CB380058995B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BCD47C341D02CB380058995B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
